<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Test Runner</title>
  <link rel="stylesheet" type="text/css" href="<%= phantom_jasmine_path %>/vendor/jasmine-1.2.0/jasmine.css">
  <script type="text/javascript" src="<%= phantom_jasmine_path %>/vendor/jasmine-1.2.0/jasmine.js"></script>
  <script type="text/javascript" src="<%= phantom_jasmine_path %>/vendor/jasmine-1.2.0/jasmine-html.js"></script>

  <script type="text/javascript" src="<%= phantom_jasmine_path %>/lib/console-runner.js"></script>
  <script type="text/javascript" src="<%= jasmine_reporters_path %>/src/jasmine.junit_reporter.js"></script>
  <script type="text/javascript" src="<%= common_coffee_root %>/ajax_prefix.js"></script>
  <script type="text/javascript" src="<%= common_coffee_root %>/logger.js"></script>
  <script type="text/javascript" src="<%= common_js_root %>/vendor/jasmine-jquery.js"></script>
  <script type="text/javascript" src="<%= common_js_root %>/vendor/RequireJS.js"></script>
  <script type="text/javascript" src="<%= common_js_root %>/vendor/jquery.min.js"></script>
  <script type="text/javascript" src="<%= common_js_root %>/vendor/jquery-ui.min.js"></script>
  <script type="text/javascript" src="<%= common_js_root %>/vendor/jquery.ui.draggable.js"></script>
  <script type="text/javascript" src="<%= common_js_root %>/vendor/jquery.cookie.js"></script>
  <script type="text/javascript" src="<%= common_js_root %>/vendor/json2.js"></script>
  <script type="text/javascript" src="<%= common_js_root %>/vendor/underscore-min.js"></script>
  <script type="text/javascript" src="<%= common_js_root %>/vendor/backbone-min.js"></script>
  <script type="text/javascript" src="<%= common_js_root %>/vendor/jquery.leanModal.min.js"></script>
  <script type="text/javascript" src="<%= common_js_root %>/vendor/CodeMirror/codemirror.js"></script>
  <script type="text/javascript" src="<%= common_js_root %>/vendor/tiny_mce/jquery.tinymce.js"></script>
  <script type="text/javascript" src="<%= common_js_root %>/vendor/tiny_mce/tiny_mce.js"></script>
  <script type="text/javascript" src="<%= common_js_root %>/vendor/mathjax-MathJax-c9db6ac/MathJax.js?config=default"></script>
  <script type="text/javascript" src="<%= common_js_root %>/vendor/jquery.timeago.js"></script>
  <script type="text/javascript" src="<%= common_js_root %>/vendor/sinon-1.7.1.js"></script>
  <script type="text/javascript" src="<%= common_js_root %>/vendor/analytics.js"></script>
  <script type="text/javascript">
    AjaxPrefix.addAjaxPrefix(jQuery, function() {
       return "";
    });
  </script>

  <!-- SOURCE FILES -->
  <% for src in js_source %>
  <script type="text/javascript" src="<%= src %>"></script>
  <% end %>

  <!-- SPEC FILES -->
  <% for src in js_specs %>
  <script type="text/javascript" src="<%= src %>"></script>
  <% end %>
</head>
<body>

<script type="text/javascript">
  jasmine.getEnv().addReporter(new jasmine.TrivialReporter());
  jasmine.getEnv().addReporter(new jasmine.ConsoleReporter());
  jasmine.getEnv().addReporter(new jasmine.JUnitXmlReporter('<%= report_dir %>/'));
  jasmine.getEnv().execute();
</script>

</body>
</html>

